@media print {
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-11 {
        width: 91.66666667%;
    }

    .col-sm-10 {
        width: 83.33333333%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-8 {
        width: 66.66666667%;
    }

    .col-sm-7 {
        width: 58.33333333%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-5 {
        width: 41.66666667%;
    }

    .col-sm-4 {
        width: 33.33333333%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-2 {
        width: 16.66666667%;
    }

    .col-sm-1 {
        width: 8.33333333%;
    }

    .control-sidebar,
    .btn {
        display: none;
    }

    .content {
        margin: 10px;
        /*
        //margin-top: -20px;
        */
        padding: 0;
    }

    .main-footer {
        display: none;
    }

    .col-form-label {
        text-decoration: none !important;
        overflow: hidden;
    }

    input,
    textarea.form-control {
        border: none !important;
        box-shadow: none !important;
        outline: none !important;
        border: solid 1px black !important;
        resize: none;
        overflow: auto;
    }

    table td:last-child {
        display: none
    }

    table th:last-child {
        display: none
    }
    .dataTables_wrapper + .row{
         display:none;
    }
    .box-header{
         text-align:center !important;
    }
    .ulOpisAbnormalnosti{
        margin-left: -8px;
    }
}
